:root {
  --green: rgb(87, 175, 24);
  --purple: rgb(115, 57, 219);
  --orange: rgb(230, 138, 26);
  --upper-nav-h: 70px;
  --nav-h: 60px;
  --center-max-w: 1000px;
  --side-w: calc((100vw - var(--center-max-w)) / 2);
  --left-w: 250px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #707070;
}

input {
  border: none;
  margin: 0;
  padding: 0;
}
input:focus {
  outline: none;
}

button:active {
  outline: none;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

/* general */

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title--large {
  font-weight: bold;
  font-size: 15px;
  color: #444;
}

.title--middle {
  font-weight: bold;
  font-size: 14px;
  color: #444;
}

/* header */

.upper-nav {
  height: var(--upper-nav-h);
}

.upper-nav__side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.upper-nav__side .logo {
  border: 2px solid #707070;
  border-radius: 100px;
  font-size: 22px;
  font-weight: bold;
  color: #707070;
  padding: 5px 25px;
}
.upper-nav__side a {
  margin-right: 20px;
  font-size: 14px;
}

.upper-nav__center {
  display: flex;
  align-items: center;
  width: calc((100vw - 360px) * 0.8);
  max-width: 550px;
}
.upper-nav__center .search {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #a1a1a1;
  border-radius: 100px;
  height: 35px;
  width: 100%;
  padding: 0 10px;
}
.upper-nav__center form {
  width: 100%;
}
.upper-nav__center input {
  margin: 2px 10px;
  width: calc(100% - 20px);
}

.nav {
  height: var(--nav-h);
  background-color: #a1a1a1;
}
.nav__side {
  width: var(--side-w);
}
.nav__center {
  width: 100%;
  max-width: var(--center-max-w);
}
.nav__center i {
  display: none;
  margin-left: 3vw;
}
.nav__center a {
  margin-left: 5vw;
  line-height: 60px;
}
.main__side {
  width: var(--side-w);
}

/* main */

.main__center {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: var(--center-max-w);
}

/* left-bar */

.left-bar {
  width: var(--left-w);
  height: 100%;
  border: 1px solid #a1a1a1;
  padding: 10px;
  margin: 10px 0 10px 10px;
}

/* left-bar cal */

.cal {
  border: 1px solid #a1a1a1;
  padding: 0 10px;
}
.cal__title {
  margin: 10px 0 5px;
}
.cal__table {
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  font-size: 13px;
}
.cal__table th {
  height: 25px;
}
.cal__table td {
  border: 1px solid #a1a1a1;
  width: 25px;
  height: 25px;
}
.dots {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 1px;
}
.dots .dot {
  width: 6px;
  height: 6px;
  border: none;
  border-radius: 4px;
}
.dots .dot.left {
  background-color: var(--green);
}
.dots .dot.middle {
  background-color: var(--purple);
}
.dots .dot.right {
  background-color: var(--orange);
}
.cal__detail .radio-btns {
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.cal__detail .radio-btns .radio-btn {
  margin-right: 20px;
}
.cal__detail .radio-btns label {
  font-size: 14px;
  font-weight: bold;
}
.cal__detail .content {
  margin: 15px 5px;
}
.cal__detail .content .schedule {
  margin-top: 7px;
  font-size: 13px;
  font-weight: bold;
}

/* right-bar */

.right-bar {
  width: 100%;
  max-width: calc(100vw - var(--side-w) * 2 - var(--left-w) - 46px);
  margin: 10px;
}

/* right-bar board--hot */

.board--hot {
  width: 100%;
  border: 1px solid #a1a1a1;
  padding: 0 20px;
}
.board--hot .board__title {
  margin: 10px 0;
}
.board__tab {
  padding: 0 5px;
  font-size: 13px;
}
.board__tab a {
  margin: 0 5px;
}
.board__tab span {
  color: #707070;
}
.board--hot .hr {
  padding: 5px 0;
}
.board--hot .more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
}
.link--title {
  font-size: 14px;
  margin: 5px 10px 28px;
}
.link--title li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 3px 0;
}

/* right-bar board--site */

.board--site {
  width: 100%;
  border: 1px solid #a1a1a1;
  margin: 10px 0 0;
  padding-bottom: 10px;
}
.board--site .board__title {
  margin: 10px 20px;
}
.board--site .board__title--sub {
  margin: 15px 30px 10px;
  color: #777;
}
.site-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 5px;
}
.site-list i {
  height: 60px;
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.blocks {
  display: flex;
}
.link--block {
  width: 70px;
  height: 70px;
  border: 1px solid #a1a1a1;
  border-radius: 15px;
  margin: 0 5px;
}

/* layout changes depending on screen size */

@media screen and (max-width: 650px) {
  .upper-nav__center .search {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .left-bar {
    display: none;
  }
  .right-bar {
    max-width: 100%;
  }
  .nav__center i {
    display: inline;
  }
}
